@page
@model IndexModel
@{
    ViewData["Title"] = "";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo a Jatobá Marcenaria</h1>
    <p> Segue no Instagram </noframes> <a href="https://learn.microsoft.com/aspnet/core">Jatobá Marcenaria</a>.</p>
</div>

<div class="image-container text-center">
    <img src="~/Movel-header.png" class="header-image" alt="Móvel de Jatobá Marcenaria" />
</div>

<style>
    .image-container {
        text-align: center;
        margin-top: 20px;
    }

    .header-image {
        width: 300px; 
        height: auto; 
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        border-radius: 10px; 
    }

    .header-image:hover {
        transform: scale(1.1); 
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
    }
</style>