@page
@model IndexModel
@{
    ViewData["Title"] = "";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo a Jatobá Marcenaria</h1>
    <p> Segue no Instagram </noframes> <a href="https://learn.microsoft.com/aspnet/core">Jatobá Marcenaria</a>.</p>
</div>
